.accordion {
    background: white;
    padding-bottom: 20px;
    > div {
        padding: 0px 20px;
    }
    > div > div {
        border: 1px solid #eee;
    }

    .toggle {
        display: none;
    }
    .Label {		/*タイトル*/
        padding: 1em;
        display: block;
        color: black;
        background:white;
        border: 1px solid #eee;
    }
    .Label::before{		/*タイトル横の矢印*/
        content:"";
        width: 6px;
        height: 6px;
        border-top: 2px solid black;
        border-right: 2px solid black;
        -webkit-transform: rotate(45deg);
        position: absolute;
        top:calc( 50% - 3px );
        right: 20px;
        transform: rotate(135deg);
    }
    .Label,
    .content {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: all 0.5s;
    }
    .content {		/*本文*/
        height: 0;
        margin-bottom:10px;
        padding:0 20px;
        overflow: hidden;
    }
    div:has(.toggle:checked) + .content {	/*開閉時*/
        height: auto;
        padding: 0px 20px;
        transition: all 0.5s;
    }
    
    .toggle:checked + .Label::before {
        transform: rotate(-45deg) !important;
    }
}
