.table > div {
    display: flex;
    flex-direction: column;
  }
  
  .table img {
    width: 100%;
  }
  
  .table > div > div {
    order: 1;
  }
  
  .table > div > .table-img-col {
    order: 0;
  }
  
  .table > div > .table-img-col img {
    display: block;
  }
  
  @media (width >= 900px) {
    .table > div {
      align-items: center;
      flex-direction: unset;
      gap: 24px;
    }
  
    .table > div > div {
      flex: 1;
      order: unset;
    }
  }
  
  


/** add styles **/
.table {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    > div {
      display: flex;
      gap: 0px;
      align-items: stretch !important;
      > div {
        border-top: 1px solid black;
        border-left: 1px solid black;
        > p {
          padding: 10px;
        }
      }
    }
  }